    <header class="flex">
        <nav class="flex justify-between items-center w-full h-16 p-3 bg-blue-400 shadow-md">
            <a routerLink="/" class="flex items-center gap-2">                
                <img [src]="logo" alt="Angular" class="w-12 h-12">
                <p>ANGULAR 17</p>
            </a>
            <ul class="flex gap-2 items-center">
                <li class="text-white hover:text-black capitalize"><a routerLink="/home">home</a></li>
                <li class="text-white hover:text-black capitalize"><a routerLink="/sobre">sobre</a></li>
                <li class="text-white hover:text-black capitalize"><a routerLink="/cardapio">cardapio</a></li>
            </ul>
        </nav>
    </header>
